# Compiled binaries
build/
*.exe
*.exe.stackdump
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib
error/*
# IDE and editor files
.vs/
.vscode/
.idea/
*.swp
*.swo
nul
*~
capture_dino/*
.DS_Store
Thumbs.db
sfml/*
# CMake generated
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CMakeUserPresets.json
build/
# Compiled assets (if any)
resources/*.png
sqlite/
deps/
docs/



# Logs and temp
*.log
tmp/
tk.txt
note.txt
note
freebuff*
test/
prompt.txt

